<footer role="contentinfo" class="c-footer">
    <div class="o-container">
        <div class="HzLine HzLine--bottomSpace"></div>
        <div class="c-nav">
            {% include nav.html %}
        </div>
        <p>Positive Revolution. Solution-based people development.</p>
        <p>Get in touch: call <a href="tel:{{ site.phone }}">{{ site.phone }}</a> or <a href="mailto:{{ site.email }}" target="_blank">email Greg</a>.</p>
        <p>Always be learning, not closing.</p>
        <p>© 2009–{{ site.time | date: '%Y' }}</p>

    </div>
</footer>
